/build/
/build-*/
*.o
*.a
*.so
*.dylib
*.dll
*.exe
compile_commands.json

.cache-candidate-bugs/
.cache-*.log
/result
hl-arm-image-fixed.a
*.o

pkgs/*/assets/lib/
pkgs/*/assets/**/*.tar.gz
pkgs/*/assets/**/*.a
